extends layout

block content
	section.hero.is-light.spacer
		.hero-body
			.container
	section
		.columns
			.column.is-half(style="margin: 0 auto;")
				.content
					.container(align="center")
						h1#title3 About Starlight Studio
						p.subtitle
							| The first Starlight Studio club opened in 1993, in the seaside town of Bournemouth, Dorset – historically known as a popular health resort. Today we have clubs in 16 countries, making us a leader in the global fitness industry.
							| We’ve seen a lot of change in the fitness industry over the years, but our philosophy has remained the same: to offer the best equipment, range of classes, knowledgeable staff and personal advice in a welcoming environment that feeds our members’ motivation. 
						hr
	section
		.container
			.content
				.container
					.columns(align="center")
						.column.is-4
							figure.image
								img(src='../../images/a1.jpg', alt='')
							.content
								.container#containAbout
									h1 Best Fitness Service in the World
									p(align="justify") 
										| Starlight Studio International is the largest co-ed gym chain in the world and the most recognized name in fitness, helping generations of celebrities, athletes and fitness enthusiasts achieve life-changing results. With an aggressive plan to evolve from gym to fitness club –    through growing programs and new facilities – we are looking for effective leaders to participate in our success.
										| Our workout is based on High Intensity Training. Compared to running or pushing normal weights in the gym, you see results a lot sooner, even after a few sessions.
						.column.is-4
							figure.image
								img(src='../../images/a2.jpg', alt='')
							.content
								.container#containAbout
									h1 Strength in Starlight Squad
									p(align="justify")
										| You'll find Starlight Squad in every part of the world, with more than 1000 Agents across the country ready to help.
										| Become part of our elite team – the best of the best. Working for a nationally recognized fitness company, we will challenge your skills, talents and abilities and reward your every success. Ask yourself if you’ve got what it takes. Become an active participant in getting us 		to the next level and you will share in the rewards for your efforts.
						.column.is-4
							figure.image
								img(src='../../images/a3.jpg', alt='')
							.content
								.container#containAbout
									h1 Discover the Brand New You
									p(align="justify")
										| Every Personal Trainer is Fitness certified and takes pride in treating every client as an individual. We understand that different training methods suit different people.
										| Excuses are a thing of the past as our Personal Trainers devise an exercise plan unique to your goal that makes you feel like a new person inside and out.
										| Get the results you want with professional, passionate and highly qualified experts who take your goals and aspirations personally.
		
		section.hero.is-light
			.hero-body
				.container
					.content
						h1.title What Our Customers Have to Say
						blockquote#quote
							| "I have been working out at Health and Sports off and on for nearly a decade. Since retiring from being a rugby player and moving back from overseas, it was a no-brainer to join up here again. The staff are friendly and always willing to help out and give pointers whenever they can. 
							| It's a great environment for working hard and it caters for everyone regardless of your level of fitness."
							h4(align="right")
								| - Dr. Juan Dela Cruz
						blockquote#quote
							| "Starlight Studio is an awesome gym to belong to. I had been a member for a number of years when I found myself out of work. Starlight Studio Management and staff supported me during this difficult time, keeping my membership active and allowing me to use the club.  I have since started and manage my own business. With the help of Starlight Studio I was able to keep active and maintain a positive outlook. Thank you, Starlight Studio!"
							h4(align="right")
								| - Juana Cruz

						


