doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Starlight Studio
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', type='text/css', href='./stylesheets/bulma.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/style.css')
  
  section#head
    .container
      nav.nav
        .container
          .nav-left
            a.is-brand(href='#')
              figure.image#starLogo
                img(src='./images/ss.png' alt='SS logo')
          span.nav-toggle
            span
            span
            span
          .nav-right.nav-menu
            a.nav-item(href="/")
              | Home
            a.nav-item
              | About
            a.nav-item(href="/personal-training")
              | Services
            a.nav-item
              | Contact Us
  body
  block content
  
  // Footer
  .hero-foot
    section.hero.is-small.foot
      .hero-body
        .container.footContainer
          .columns
            .column.is-6(align="center")
              a.is-brand(href='#')
                figure.image#starLogo
                  img(src='./images/ss.png' alt='SS logo')
              p Starilight Studio Copyright 2002. All rights reserved.
            .column.is-6.footRight
              h2 MANILA PHILIPPINES
              h2 strlghtstdio@yahoo.com
              h2 09155318566 
              h2 6/F Regis Center, 327 Katipunan Avenue, Loyola Heights, Quezon City


  // Scripts
  script(src='./js/jquery.min.js')
  script(src='./js/jquery.scrolly.min.js')
  script(src='./js/skel.min.js')
  script(src='./js/util.js')
  script(src='./js/main.js')
  script(src='./js/script.js')