/*-------------------HEADER & NAV ----------------------*/
#head{
  background-color: #000000;
  color: whitesmoke;
}
.nav {
  padding: 20px 0;
  background-color: rgba(2, 2, 2, 0);
}
.nav-item a:not(.button), .hero.is-dark a.nav-item {
  padding: 0 30px;
}
.nav-menu{
  background-color: rgb(0, 0, 0);
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.nav-item :hover{
   color: #fff !important;
}
a.nav-item:hover{
   color: #fff !important;
}
.nav-item .button {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
  border-radius: 1px;
}
.dropdown {
    position: relative;
    display: inline-block;
    line-height: 43px;
}
.dropdown span {
  color: #7a7a7a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 274px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 13px 14px;
    font-size: 11px;
    text-align: left;
}
.dropdown-content li {
    border-bottom: 1px solid rgba(132, 127, 127, 0.54);
}
.dropdown-content li a {
    color: #7a7a7a;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #fff;

}
canvas{
  position: absolute;
  width: 100%; height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
}
#starLogo{
  max-width: 139px;
  margin: 8px;
}
#title1{
  font-size: 58px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
}
.sub{
  color: #909090;
}
/*------------------------------------------------------*/
/*---------------------MEDIA QUERIES--------------------*/
@media screen and (max-width: 1023px) {
  section #img1 {
    background: none;
  }
  #title1, 
  #title2,
  #title3,
  #title4 {
    font-size: 27px !important;
  }
  .sub {
    font-size: 20px !important;
  }
  #left {
    display: none !important;
  }
  #right {
    margin: 0 auto !important;
  }
  .hero.is-fullheight.section2 {
    min-height: 67vh;
  }
  .hero.is-fullheight.bgblack {
    min-height: 67vh;
  }
  .hero.is-fullheight.contact {
    min-height: 67vh;
  }
  .column3{
    padding: 10px !important;
    max-width: inherit !important;
  }
  #quote{
    font-size: 15px !important;
  }
  #inquire{
    padding: 9px;
    font-size: 16px;
  }


}
@media screen and (min-width: 769px) and (max-width:854px){   
  .column3{
    padding: 10px !important;
  }
  .center {
    padding: 217px 54px !important;
  }
}
@media screen and (max-width: 768px){  
  .center {
    padding: 0px !important;
  }  
  .column3{
    padding: 10px !important;
  }
  .footRight{
    border-left: 0px !important;
    text-align: center;
    color: #a0a09e;
  }
  .newspaper {
    column-count: 1 !important;
  }
  .dropdown{
    line-height: 0px;
    width: 100%;
    text-align: left;
    line-height: 20px;
  }
  .dropdown-content li{
    padding: 20px;
  }
}
/*------------------------------------------------------*/
/*----------------------INDEX PAGE ---------------------*/
.section2{
  background-color: black; 
}
.columns{
  width:100%;
  margin: 0 auto;
}
#img1{
  background: url(../../images/1.png) no-repeat center center fixed;
	background-size: cover;
}
.column3{
  max-width: 500px;
  background-color: black;
  padding: 30px;
}
.bgblack {
  background-color: black;
}

.center{
  padding: 328px 54px;
}
/*--------------------------END-------------------------*/
/*-------------------------Service-----------------------*/
.is-service{
  background-color: black;
  font:white;
}
.newspaper {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
  -moz-column-rule-style: solid; /* Firefox */
  column-rule-style: solid;
}
.is-gray {
  background-color: rgb(29, 29, 29) !important;
  color: white !important;
}
#title2 {
    font-size: 58px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
}
/*--------------------------END-------------------------*/
/*-------------------------ABOUT------------------------*/
#containAbout{
  max-width: 327px;
  padding: 59px 9px;
}
#title3{
  font-size: 58px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  /* text-align: left; */
}
#quote{
  font-size: 19px;
  font-weight: 300;
  font-style: italic;
}
/*------------------------------------------------------*/
/*-----------------------CONTACT US---------------------*/
#title4{
  font-size: 58px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}
#contactCon{
  max-width: 870px;
  height: auto;
  margin: 0 auto;
  padding: 0px 13px 55px 13px;
  margin-bottom: 46px;
}
#input{
     -webkit-appearance: none;
    -ms-appearance: none;
    background: rgba(39, 39, 39, 0.75);
    border-radius: 4px;
    border: none;
    border: solid 1px #dee1e3;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    height: 3.5em;
    line-height: 3.5em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 7px 0 7px 0;
}
#input:focus {
    border-color: #00d1b2;
    box-shadow: 0 0 0 1px #00d1b2;
}

.ccover{
  text-align: center;
  padding-bottom: 20px;
  margin: 0 auto;
}
#inquire {
    margin: 0px 13px 13px 0px;
}
.col{
    padding: 0px !important; 
}

/*-------------------------END--------------------------*/
/*-------------------------FOOTER-----------------------*/
.foot{
  background-color: rgba(0, 0, 0, 0.88);
}
.footContainer p{
    max-width: 182px;
    padding: 8px;
    color: #a0a09e;
}
.footRight{
  border-left: 1px solid white;
  padding: 20px;
  color: #a0a09e;
}
/*--------------------------END-------------------------*/